* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: blueviolet;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  background-color: rgb(12, 12, 11);
  position: relative;
  height: 600px;
  width: 350px;
  color: white;
}

.top-bar {
  height: 6%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  padding: 5px;
}
.tabs {
  display: flex;
  justify-content: space-arround;
}

.active {
  border-bottom: 2px solid white;
}
.tabs div {
  margin: 0 1rem;
  font-size: 1.2rem;
  font-weight: bolder;
}
.search,
.menu {
  font-size: 1.5rem;
}

.right-bar {
  height: 80%;
  width: 15%;
  position: absolute;
  top: 10%;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 1.5rem;
  text-align: center;
}
.right-bar p {
  font-size: 1rem;
}
.bottom-bar {
  height: 10%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 1);
}

.bottom-bar p {
  font-size: 0.7rem;
}

.add {
  font-size: 2rem;
}

.user-name {
  position: absolute;
  bottom: 10%;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.4);
}
.video-holder {
  width: 100%;
  height: 100%;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}
.videotag {
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
}

.videotag video {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}
